html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  background: #6a7077;
  width: 100%;
  height: 9vh;
  padding: 1%;
  border: 1px solid #020c16;
}

.heading {
  font-size: 2rem;
  color: #f5f5f5;
  text-transform: capitalize;
}

.middle-section {
  position: relative;
  width: 100%;
  color: #f5f5f5;
  display: flex
}


.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font: 12px sans-serif;
}

.node-box {
  fill: cadetblue;
  cursor: pointer;
}

.node-text {
  fill: white;
  cursor: pointer;
}

#details-container {
  width: 20vw;
  height: 100vh;
  padding: 2.5%;
  border-right: 2px dashed rgb(192, 194, 196);
}

#svg-tree{
  width: 100%;
  height: 100%;
}

.card {
  color: black;
}

#tree-container {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  padding: 2%;
  padding-left: 3%;
}

.btn-primary{
  color: #fff;
  background-color: #d75360;
  border-color: #d51b2d;
}

.highlight {
  fill: rgb(32, 46, 66); 
}
